*{
  --main-color: #172B4D;
  --secondary-color:#36B37E;
  margin:0px;
  padding:0px;
}
body {
  font-family: 'Inter', sans-serif;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("mobile.png");
  background-size:  auto 100%;
  background-repeat: no-repeat;
  background-position: center 50px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  padding: 0px 20px;
}
main {
  display: flex;
  flex-direction: column;
  padding: 64px 24px;
  justify-content: space-between;
  text-align: center;  
  flex: 1 1 auto;
  overflow-y: scroll;
}
.profession {
  color: var(--secondary-color);
}
main > p{
  font-size: 20px;
  line-height: 28px;
}
main > h1 {
  font-size: 40px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.fa-chevron-down{
  border: 1px solid rgb(161, 163, 161);
  border-radius: 50%;
  padding: 10px;
}
.socialIcons > i {
  padding: 10px;
  margin-bottom: 30px;
}
.socialIcons > i:hover {
  color: var(--secondary-color);
}